<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
	<h1>Esto es una plantilla de TWIG</h1>
	<h2>Este es el index de {{ ruta }}</h2>
	
</body>
</html>